.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position

    .form-inlign{role: "form"}
      = form_for([@prototype, @comment]) do |f|
        %h4 Edit a comment
        .row
          .form-group.col-md-10
            = f.text_area(:content, row: 3, placeholder: "Input comment", required: "required", class: "form-control", id: "comment_field")
            = f.hidden_field(:user_id, value: current_user.id)
            = f.hidden_field(:prototype_id, value: @prototype.id)
          .form-group.col-md-2
            = f.submit "comment", class: "btn btn-primary"
