- if like
  = button_to prototype_like_path(prototype.id, like.id), method: :delete, remote: true, disabled: !(user_signed_in?) do
    = image_tag("icon_red_heart.svg")
    %span
      like
      = likes.count
- else
  = button_to prototype_likes_path(prototype.id), remote: true, disabled: !(user_signed_in?) do
    = image_tag("icon_heart.svg")
    %span
      like
      = likes.count
